<template>
  <div :class="[prefixCls + 'notification', 'uu-notification']">
    <transition-group name="list" tag="div" class="animate-box">
      <uu-notice
        v-for="notice in noticeList"
        :key="notice.name"
        :prefixCls="prefixCls"
        :title="notice.title"
        :icon="notice.icon"
        :duration="notice.duration"
        :noticeName="notice.name"
        @close="remove"
      ></uu-notice>
    </transition-group>

  </div>
</template>

<script>
import uuNotice from './notice'
export default {
  name: 'uu-notification',
  components: {
    uuNotice
  },
  data () {
    return {
      noticeList: []
    }
  },
  props: {
    prefixCls: {
      type: String,
      default: ''
    }
  },
  methods: {
    add (notice) {
      this.noticeList.push(notice)
    },
    remove (name) {
      console.log('remove', name)
      let index = this.noticeList.findIndex(notice => notice.name === name)
      if (index === -1) {
        console.warn('index', index)
        return
      }
      this.noticeList.splice(index, 1)
    },
    closeAll () {
      this.noticeList.splice(0)
    }
  }
}
</script>

<style lang="scss">
  .list-enter-active, .list-leave-active {
    transition: all 1s;
    position: absolute;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(-100px);
  }
  .animate-box {
    // display: inline-block;
  }
  .uu-notification {
    position: fixed;
    top: 20px;
    left: 50%;
  }
</style>
