<template>
  <div :class="[prefixCls + 'notice', 'uu-notice']">
    <span>{{icon}}</span>
    <span>{{title}}</span>
    <span @click="close">X</span>
  </div>
</template>

<script>
export default {
  name: 'uu-notice',
  props: {
    duration: {
      type: Number,
      default: 0
    },
    prefixCls: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    noticeName: {
      type: String,
      required: true
    }
  },
  mounted () {
    this.setDuaration()
  },
  methods: {
    setDuaration () {
      if (!this.duration) return
      setTimeout(this.close, this.duration)
    },
    close () {
      this.$emit('close', this.noticeName)
    }
  }
}
</script>

<style lang="scss">
  .uu-notice {
    position: relative;
    margin-top: 15px;
    border: 1px #333 solid;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #333;
    overflow: hidden;
  }
</style>
