<template>
  <div>
    111
  </div>
</template>

<script>
export default {
  mounted () {
    this.$Alter.open({
      duration: 0,
      name: 'ddd',
      title: '是打发圣诞节覅了s'
    })
    setTimeout(() => {
      this.$Alter.open({
        title: '是打发圣诞节覅了1'
      })
    }, 2000)
    setTimeout(() => {
      this.$Alter.open({
        duration: 0,
        name: '2222',
        title: '111111111'
      })
    }, 5000)
  }
}
</script>

<style>

</style>
