<template>
  <div>
    <uu-checkbox v-model="a">
      <span>xxx</span>
      <span>yyy</span>
    </uu-checkbox>
    <div>
      {{`数据:${a}`}}
    </div>
  </div>
</template>

<script>
import uuCheckbox from '../components/checkbox'
export default {
  name: 'CheckBox',
  components: {
    uuCheckbox
  },
  data () {
    return {
      a: true
    }
  },
  methods: {
  }
}
</script>
