<template>
  <div>
    <demo>
      <template #demos="some">
        <div>
          {{user.name + '111'}}
        </div>
      </template>
      <template v-slot:default>
        <div>
          {{user.name + '111'}}
        </div>
      </template>
    </demo>
    <span>
      {{user.name}}
    </span>
  </div>
</template>

<script>
import Vue from 'vue'
let demo = Vue.extend({
  props: {
    user: {
      default () {
        return {
          name: 'name3'
        }
      }
    }
  },
  render: function (h) {
    console.log(this.$slots)
    return h('div', [this.$slots.default])
  }
})

export default {
  data () {
    return {
      user: {
        name: 'name2'
      }
    }
  },
  components: {
    demo
  }
}
</script>

<style>

</style>
