<template>
  <div class="home">
    <uu-form :model="formValidate" :rules="ruleValidate" ref="form">
      <uu-form-item label="邮箱" prop="mail">
        <uu-input v-model="formValidate.mail"></uu-input>
      </uu-form-item>
      <uu-form-item label="姓名" prop="name">
        <uu-input v-model="formValidate.name"></uu-input>
      </uu-form-item>
    </uu-form>
    <button @click="handleSubmit">提交</button>
    <button @click="handleReset">重置</button>
  </div>
</template>

<script>
import UuForm from '@/components/Form.vue'
import UuFormItem from '@/components/Form-item.vue'
import UuInput from '@/components/Input.vue'
export default {
  name: 'Form',
  components: {
    UuForm,
    UuFormItem,
    UuInput
  },
  data () {
    return {
      formValidate: {
        name: '22222',
        mail: ''
      },
      ruleValidate: {
        name: [
          { required: true, message: '用户名不能为空1', trigger: 'blur' },
          { required: true, message: '用户名不能为空2', trigger: 'change' }
        ],
        mail: [
          { required: true, message: '邮箱不能为空', trigger: 'blur' },
          { type: 'email', message: '邮箱格式不正确', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    handleSubmit () {
      console.info('handleSubmit')
      this.$refs.form.validate(errors => {
        console.info('validate', errors)
      })
        .then(() => {
          console.info('validate-pass')
        })
        .catch(err => {
          console.info('validate-error', err)
        })
    },
    handleReset () {
      this.$refs.form.resetFields()
    }
  }
}
</script>
