<template>
  <div>
    <uu-table :columns="columns" :data="data"></uu-table>
    <uu-table :columns="columns1" :data="data">
      <template v-slot:name="{row}">
        <span>{{row.name}}</span>
      </template>
      <template v-slot:age="{row}">
        <span>{{row.age}}</span>
      </template>
      <template v-slot:birthday="{row}">
        <span>{{row.birthday}}</span>
      </template>
      <template v-slot:address="{row}">
        <span>{{row.address}}</span>
      </template>
      <template v-slot:action="{row}">
        <span>{{row.action}}</span>
      </template>
    </uu-table>
  </div>
</template>

<script>
import uuTable from '../components/table/table'
export default {
  components: {
    uuTable
  },
  methods: {
    demos (d) {
      console.log(d)
    }
  },
  data () {
    return {
      columns: [
        {
          title: '姓名',
          key: 'name'
        },
        {
          title: '年龄',
          key: 'age'
        },
        {
          title: '出生日期',
          render: (h, { row, col, index }) => {
            console.log(row, col, index)
            const date = new Date(parseInt(row.birthday))
            const year = date.getFullYear()
            const month = date.getMonth() + 1
            const day = date.getDate()
            const birthday = `${year}-${month}-${day}`
            return h('span', birthday)
          },
          key: 'birthday'
        },
        {
          title: '地址',
          key: 'address'
        },
        {
          title: '操作'
        }
      ],
      columns1: [
        {
          title: '姓名',
          slot: 'name'
        },
        {
          title: '年龄',
          slot: 'age'
        },
        {
          title: '出生日期',
          slot: 'birthday'
        },
        {
          title: '地址',
          slot: 'address'
        },
        {
          title: '操作',
          slot: 'action'
        }
      ],
      data: [
        {
          name: '王小明',
          age: 18,
          birthday: '919526400000',
          address: '北京市朝阳区芍药居'
        },
        {
          name: '张小刚',
          age: 25,
          birthday: '696096000000',
          address: '北京市海淀区西二旗'
        },
        {
          name: '李小红',
          age: 30,
          birthday: '563472000000',
          address: '上海市浦东新区世纪大道'
        },
        {
          name: '周小伟',
          age: 26,
          birthday: '687024000000',
          address: '深圳市南山区深南大道'
        }
      ]
    }
  }
}
</script>

<style>

</style>
