<template>
  <div>
    <uu-tree :data="treeData" :showCheckbox="true" @on-check-change="checkChange"></uu-tree>
  </div>
</template>

<script>
import uuTree from '../components/tree/tree'
export default {
  components: {
    uuTree
  },
  methods: {
    checkChange (data) {
      console.log(data)
    }
  },
  data () {
    return {
      treeData: [
        {
          title: '1',
          expand: true,
          children: [
            {
              title: '1-1',
              children: [
                {
                  title: '1-1-1'
                },
                {
                  title: '1-1-2'
                }
              ]
            },
            {
              title: '1-2',
              expand: true,
              disabled: true,
              children: [
                {
                  title: '1-2-1'
                },
                {
                  title: '1-2-2'
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
</script>

<style>

</style>
