<template>
  <div class="uu-checkbox">
    <input type="checkbox" :checked="currentValue" @change="handleChange" :disabled="disabled">
    <label @click="handleLabelClick">
      <slot></slot>
    </label>
  </div>
</template>

<script>
export default {
  name: 'uu-checkbox',
  data () {
    return {
      currentValue: this.value
    }
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    label: {
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value (v) {
      this.currentValue = v
    }
  },
  methods: {
    handleChange (event) {
      this.currentValue = event.target.checked
      this.$emit('input', this.currentValue)
    },
    handleLabelClick () {
      this.currentValue = !this.currentValue
      this.$emit('input', this.currentValue)
    }
  }
}
</script>

<style>

</style>
