<template>
  <form>
    <slot></slot>
  </form>
</template>

<script>
import emitter from '../mixins/emitter.js'
export default {
  name: 'uu-form',
  mixins: [emitter],
  provide () {
    return {
      form: this
    }
  },
  data () {
    return {
      fields: []
    }
  },
  props: {
    model: {
      type: Object
    },
    rules: {
      type: Object
    }
  },
  created () {
    console.info(this)
    this.$on('on-form-item-add', (field) => {
      if (field) this.fields.push(field)
    })
    this.$on('on-form-item-remove', (field) => {
      if (field) this.fields.splice(this.fields.indexOf(field), 1)
    })
  },
  methods: {
    resetFields () {
      this.fields.forEach(filed => {
        filed.resetField()
      })
    },
    validate (callback = function () {}) {
      return new Promise((resolve, reject) => {
        let pass = true
        let errorMessage = ''
        let count = 0
        let v = (_filed) => {
          _filed.validator('', (errors) => {
            if (!pass) return
            pass = !errors
            pass || (errorMessage = errors[0].message)
          })
          if (++count === this.fields.length) return
          v(this.fields[count])
        }

        v(this.fields[count])

        pass ? resolve() : reject(errorMessage)

        if (typeof callback === 'function') {
          callback(pass, errorMessage)
        }
      })
    }
  }
}
</script>
