<template>
  <div class="uu-form-item">
    <label v-if="label" :class="['uu-form-item-label', !isRequired || 'isRequired']">{{label}}</label>
    <div class="uu-form-item-content">
      <slot></slot>
      <span class="uu-form-item-message" v-show="validateMessage">
        {{validateMessage}}
      </span>
    </div>
  </div>
</template>

<script>
import emitter from '../mixins/emitter.js'
import AsyncValidator from 'async-validator'
export default {
  name: 'uu-form-item',
  mixins: [emitter],
  data () {
    return {
      isRequired: false,
      validateState: '',
      validateMessage: ''
    }
  },
  inject: ['form'],
  computed: {
    fieldValue () {
      return this.form.model[this.prop]
    }
  },
  props: {
    label: {
      type: String,
      default: ''
    },
    prop: {
      type: String
    }
  },
  mounted () {
    if (!this.prop) return
    this.dispatch('uu-form', 'on-form-item-add', this)
    this.setRules()
    this.initialValue = this.form.model[this.prop]
  },
  destroyed () {
    if (!this.prop) return
    this.dispatch('uu-form', 'on-form-item-remove', this)
  },
  methods: {
    setRules () {
      let rules = this.getRules()
      if (rules.length) {
        rules.every(rule => {
          this.isRequired = rule.required
        })
      }
      this.$on('on-form-change', () => {
        this.validator('change')
      })
      this.$on('on-form-blur', () => {
        this.validator('blur')
      })
    },
    getRules () {
      return (this.prop && this.form.rules) ? this.form.rules[this.prop] || [] : []
    },
    getFilterRules (trigger) {
      let rules = this.getRules()
      return trigger ? rules.filter(rule => rule.trigger === trigger) : rules
    },
    validator (trigger, callback = function () {}) {
      let rules = this.getFilterRules(trigger)

      if (!rules || rules.length === 0) {
        return true
      }

      this.validateState = 'validating'

      let descriptor = {}
      descriptor[this.prop] = rules
      const validator = new AsyncValidator(descriptor)

      let model = {}
      model[this.prop] = this.fieldValue
      validator.validate(model, { firstFields: true }, errors => {
        console.info('errors', errors, model)
        this.validateState = !errors ? 'success' : 'error'
        this.validateMessage = errors ? errors[0].message : ''
        callback(errors)
      })
    },
    resetField () {
      this.validateState = ''
      this.validateMessage = ''
      this.form.model[this.prop] = this.initialValue
    }
  }
}
</script>

<style lang="scss" scoped>
.uu-form-item-label.isRequired::before {
  display: inline-block;
  content: '*';
  color: red;
}
.uu-form-item-content {
  display: flex;
  align-items: center;
  .uu-form-item-message {

  }
}
</style>
