<template>
  <input
    type="text"
    :value="currentValue"
    @blur="handleBlur"
    @input="handleInput"
  >
</template>

<script>
import emitter from '../mixins/emitter.js'
export default {
  name: 'uu-input',
  mixins: [emitter],
  data () {
    return {
      currentValue: this.value
    }
  },
  watch: {
    value (val) {
      this.currentValue = val
    }
  },
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  methods: {
    setCurrentValue (value) {
      this.currentValue = value
    },
    handleInput (event) {
      let value = event.target.value
      this.setCurrentValue(value)
      this.$emit('input', value)
      this.dispatch('uu-form-item', 'on-form-change', value)
    },
    handleBlur () {
      this.dispatch('uu-form-item', 'on-form-blur', this.currentValue)
    }
  }
}
</script>
