<template>
  <table>
    <thead>
      <tr>
        <th v-for="col in columns" :key="col.key">{{col.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(row, index) in data" :key="index">
        <td v-for="col in columns" :key="col.key">
          <template v-if="'render' in col">
            <cel-render :row="row" :col="col" :index='index' :render="col.render"></cel-render>
          </template>
          <template v-else-if="'slot' in col">
            <slot :name="col.slot" :row="row" :col="col" :index='index'></slot>
          </template>
          <template v-else>{{ row[col.key] }}</template>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import celRender from './cel-render.js'
export default {
  components: {
    celRender
  },
  props: {
    columns: {
      type: Array,
      required: true
    },
    data: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style>
  table{
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
   empty-cells: show;
   border: 1px solid #e9e9e9;
  }
  table th{
   background: #f7f7f7;
   color: #5c6b77;
   font-weight: 600;
   white-space: nowrap;
  }
  table td, table th{
   padding: 8px 16px;
   border: 1px solid #e9e9e9;
   text-align: left;
  }
</style>
