<template>
  <div id="app">
    <div id="nav">
      <router-link v-for="(item, index) in componentsArray" :to="item.to" :key="index">
        {{item.name}}
      </router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      componentsArray: [
        {
          name: 'form',
          to: 'form'
        },
        {
          name: 'checkbox',
          to: 'checkbox'
        },
        {
          name: 'alter',
          to: 'alter'
        },
        {
          name: 'demo',
          to: 'demo'
        },
        {
          name: 'table',
          to: 'table'
        },
        {
          name: 'tree',
          to: 'tree'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-left: 100px;
  margin-top: 100px;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
