<template>
  <div class="uu-tree-node">
    <div class="node-self">
      <span v-if="nodeData.children" :class="['arrow', !nodeData.expand || 'expand']" @click="handleClickArrow">></span>
      <uu-checkbox :value="nodeData.checked" @input="handleCheckEvent" v-if="showCheckbox" :disabled="nodeData.disabled"></uu-checkbox>
      <span class="title" @click="handleCheckEvent">{{nodeData.title}}</span>
    </div>
    <div class="children-content" v-if="nodeData.children && nodeData.expand">
      <uu-tree-node
        v-for="(children, index) in nodeData.children"
        :nodeData="children"
        :showCheckbox="showCheckbox"
        :key="index">
      </uu-tree-node>
    </div>
  </div>
</template>

<script>
import uuCheckbox from '../checkbox'
import { findComponentUpward } from '../../utils/findComponents.js'
export default {
  name: 'uu-tree-node',
  components: { uuCheckbox },
  data () {
    return {
      watchChecked: true
    }
  },
  props: {
    nodeData: {
      type: Object,
      default () {
        return {
        }
      }
    },
    showCheckbox: {
      default: false
    }
  },
  watch: {
    'nodeData.checked' (v) {
      let parentNode = findComponentUpward(this, 'uu-tree-node')
      parentNode && parentNode.handleChildCheck()
      if (!this.watchChecked) return
      this.nodeData.children && this.nodeData.children.map(children => {
        children.checked = v
      })
    }
  },
  methods: {
    handleCheckEvent () {
      if (this.nodeData.disabled) return
      this.nodeData.checked = !this.nodeData.checked
      let parentNode = findComponentUpward(this, 'uu-tree')
      parentNode && parentNode.emitEvent('on-check-change', this.nodeData)
    },
    handleChildCheck () {
      this.watchChecked = false
      this.nodeData.checked = this.$children.every(child => {
        return child.$options.name !== 'uu-tree-node' || child.nodeData.checked
      })
      this.$nextTick(() => {
        this.watchChecked = true
      })
    },
    handleClickArrow () {
      this.nodeData.expand = !this.nodeData.expand
    }
  }
}
</script>

<style lang="scss">
  .uu-tree-node {
    .node-self {
      display: flex;
      align-items: center;
      padding-top: 3px;
      padding-bottom: 3px;
      .arrow {
        transition: transform .2s;
        cursor: pointer;
        &.expand {
          transform: rotate(90deg)
        }
      }
    }
    .children-content {
      margin-left: 10px;
    }
  }
</style>
