<template>
  <div>
    <uu-tree-node
      v-for="(nodeData, index) in dataClone"
      :nodeData="nodeData"
      :showCheckbox="showCheckbox"
      :key="index"></uu-tree-node>
  </div>
</template>

<script>
import uuTreeNode from './node'
import { deepClone, typeOf } from '@/utils/assist'
export default {
  components: {
    uuTreeNode
  },
  data () {
    return {
      dataClone: []
    }
  },
  name: 'uu-tree',
  props: {
    data: {
      type: Array,
      default () {
        return []
      }
    },
    showCheckbox: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.dataClone.splice(0)
    this.dataClone.push(...this.initData(deepClone(this.data)))
  },
  watch: {
    data () {
      this.dataClone.splice(0)
      this.dataClone.push(...this.initData(deepClone(this.data)))
    }
  },
  methods: {
    emitEvent (evventName, data) {
      this.$emit(evventName, data)
    },
    initData (data) {
      return data.map(node => {
        if (typeOf(node.children) === 'array') {
          node.children = this.initData(node.children)
        }
        return {
          checked: false,
          expand: false,
          disabled: false,
          ...node
        }
      })
    }
  }
}
</script>

<style>

</style>
